.bg {
    background-color: #4BB99E;
}

.bg-blue {
    background-color: #3a546d;
}
.line-sm{
    border: 1px solid;
    width: 50px;
    height: 1px;
}
.btn {
    border: 1px solid white;
    color: white;
}

.send {
    background-color: #4BB99E;
}

.gr-txt {
    color: #4BB99E;
}

.social {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    padding: 7px;
    margin: 5px;
}

.bg-grey {
    background-color: #2c3e50;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0; 
    align-items: center;
    
}

/* style form */
.form-control {
    border: none;
    border-bottom: 1px solid black;
}


/* HOVER */
button:hover {
    opacity: 0.5;
}

.social:hover {
    border: 2px solid white;
    scale: 1.2;
}

.nav-link:hover {
    color: #4BB99E;
}

.plus-hover {
    position: relative;
}

.plus {
    display: none;
    font-size: 10rem;
    color: white;
}

.plus-hover img:hover{
    background-color: #4BB99E;
    opacity: 0.5;
    position: relative;
}

.plus-hover img:hover + .plus{
    display: block;
    position: absolute;
    top: 2%;
    left: 35%;
    
}